<header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/josh">Josh</a>
        <a href="/things">Things</a>
        <a href="/dashboard">Dashboard</a>
      </nav>
      <h1><%= title %></h1>
</header>